.blog{
    text-align: justify;
    font-family: "Raleway", sans-serif;
    
    
}
body{
    font-family:"Raleway", sans-serif;
}


#kitchens-footer {
    width: 5rem;
    height: 4rem;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


#blog-img-img{
    height: 100%;
    width: 100%;
    border-radius:5%;
}
@media screen and(min-width:700px) {
    
}

@media screen and(min-width:996px) {

#blog-img-img {
    width: 50%;
    object-fit: cover;
}
.blog-text {
    width: 50%;

}
}